* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  --margin-value: 1rem;
}

.title {
  display: flex;
  place-content: center;
  align-self: center;
  margin: var(--margin-value);
  font-size: 2rem;
}

.title span {
  background-color: rgba(87, 107, 87, 0.15);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

#game-board-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 80dvh;
}

.controller {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 50dvh;
  margin-bottom: var(--margin-value);
}

.controller button {
  font-size: 1.5rem;
  padding: 0.2em;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, calc(50dvh / 3));
  grid-template-rows: repeat(3, calc(50dvh / 3));
  height: 50dvh;
  width: 50dvh;
}

.game-board button {
  border: 1px solid;
  font-size: 4rem;
}
