* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  --margin-value: 1rem;
}

.title {
  display: flex;
  place-content: center;
  align-self: center;
  margin: var(--margin-value);
  font-size: 2rem;
}

.title span {
  background-color: rgba(87, 107, 87, 0.15);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

p {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

#game-board-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 80dvh;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, calc(50dvh / 3));
  grid-template-rows: repeat(3, calc(50dvh / 3));
  height: 50dvh;
  width: 50dvh;
  background-color: rgba(87, 107, 87, 0.15);
}

.game-board button {
  border: 1px solid;
  font-size: 4rem;
}

#restartButton {
  margin: 1rem;
  font-size: 1.5rem;
  background-color: rgba(87, 107, 87, 0.15);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  z-index: 0;
  border: none;
}
